
@{
    ViewData["Title"] = "PainelCliente";
}


<h1>Painel Cliente</h1>
<p>Informações de Usuário.</p> 
<p>Você é um cliente da loja.</p>

Seja bem-vindo, <span>Nome: @ViewBag.Nome </span/> 
<p>CPF: @ViewBag.CPF</p>
<p>E-mail: @ViewBag.Email</p>
<br />

